.blank__button {
  width: 174px;
  height: 35px;
  background: #FF5A30;
  border-radius: 4px;
  margin-bottom: 48px;

  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 35px;
  border: none;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: #FFFFFF;
}