.quotation {
  padding: 120px 0;
  background-image: url(../../imags/about/quotation/bg-image.jpg);
  background-position: right bottom -500px;
  background-repeat: no-repeat;
  background-color: #fff;
}