.quotation__text {
  max-width: 495px;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;

  padding: 70px 105px 25px 135px;
  margin: 0;
  
  color: #1E212C;
}