.partners__title {
  max-width: 1230px;
  margin: 0 auto;
  margin-bottom: 32px;
  padding-top: 80px;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #1E212C;
}